@import 'standards';

.center {
  width: 100%;
  display: flex;
  justify-content: center;

  .add-button {
    @include themify($themes) {
      display: flex;
      align-items: center;
      border: none;
      background: transparent;
      color: themed('link-color');
    }

    i {
      font-size: 26px;
      margin-right: 10px;
    }
  }
}
