@import 'standards';

$transition-time: 250ms;

.scroll-container {
  @include themify($themes) {
    padding: 0;
    transition: padding $transition-time;
    -webkit-transition: padding $transition-time;

    .team-members-container {
      transition: max-height $transition-time;
      -webkit-transition: max-height $transition-time;
      max-height: 0;
      overflow-y: scroll;
      margin-right: 9px;

      &::-webkit-scrollbar {
        width: 9px;
        background: themed('grey-5');
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: themed('grey-4');
        border-radius: 2px;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        border-bottom: 2px dotted themed('grey-5');
        margin: 0 30px;
        padding: 15px 0;

        .member-info {
          color: themed('link-color');
          font-size: 14px;
          margin-left: 20px;
          margin-right: 20px;
        }

        app-presence-indicator {
          margin-left: auto;
        }

        app-avatar {
          border-left: 4px solid transparent;
          padding-left: 15px;
        }

        &:hover, &.active {
          app-avatar {
            border-left: 4px solid themed('link-color');
          }
        }
      }
    }

    &.open {
      padding: 10px 0;

      .team-members-container {
        max-height: 200px;
      }
    }
  }
}
