<div [ngClass]="cms.getFromProvider('defaultTheme')">
    <h4 *ngIf="!isFTUE && !isOnboarding">{{cms.get('changePassword')}}</h4>
      <div [ngClass]="{'modal-container': isFTUE && !isOnboarding, 'onboarding-container': !isFTUE && isOnboarding }">
      <div [ngClass]="{'modal-dialog': isFTUE && !isOnboarding, 'onboarding-dialog': !isFTUE && isOnboarding }">
        <div [ngClass]="{'modal-content': isFTUE && !isOnboarding, 'onboarding-content': !isFTUE && isOnboarding }">
          <form [formGroup]="passwordChangeForm" (ngSubmit)="save()" class="form-horizontal">
            <div>
              <div *ngIf="isFTUE || isOnboarding " [ngClass]="{'modal-header': isFTUE && !isOnboarding, 'onboarding-header': !isFTUE && isOnboarding }">
                <div class="user-header">
                  <i class="icon-user2"></i>
                  <span class="header-text" [innerHTML]="cms.get('user-setup')"></span>
                  <span class="breadcrumb-text">{{cms.get('changePassword')}}</span>
                </div>
              </div>
              <div [ngClass]="{'modal-body': isFTUE && !isOnboarding, 'onboarding-body': !isFTUE && isOnboarding }">
                <p *ngIf="isFTUE || isOnboarding" class="inline-header">{{cms.get('select-new-password')}}</p>
                <div *ngIf="!isFTUE && !isOnboarding" class="form-group">
                  <label for="oldPassword" class="col-sm-2 control-label">{{cms.get('oldPassword')}}</label>
                  <div class="col-sm-6">
                    <input type="password" formControlName="oldPassword" class="form-control" name="oldPassword" id="oldPassword">
                    <app-control-messages [control]="passwordChangeForm.controls.oldPassword"></app-control-messages>
                  </div>
                </div>
                <div [formGroup]="passwordChangeForm.controls.matchingPasswords">
                  <div class="form-group">
                    <label for="newPassword1" class="control-label {{isFTUE || isOnboarding ? 'sr-only' : 'col-sm-2'}}">{{cms.get('newPassword')}}</label>
                    <div class="{{isFTUE || isOnboarding ? 'ftue-input' : 'col-sm-6'}}">
                      <input type="password" formControlName="newPassword1" class="form-control" name="newPassword1" id="newPassword1" [placeholder]="cms.get('newPassword')">
                      <app-control-messages [control]="passwordChangeForm.controls.matchingPasswords['controls']['newPassword1']"></app-control-messages>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newPassword2" class="control-label {{isFTUE || isOnboarding ? 'sr-only' : 'col-sm-2'}}">{{cms.get('confirmNewPassword')}}</label>
                    <div class="{{isFTUE || isOnboarding ? 'ftue-input' : 'col-sm-6'}}">
                      <input type="password" formControlName="newPassword2" class="form-control" name="newPassword2" id="newPassword2" [placeholder]="cms.get('confirmNewPassword')">
                      <app-control-messages [control]="passwordChangeForm.controls.matchingPasswords"></app-control-messages>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!isFTUE && !isOnboarding" class="pull-right">
              <button (click)="clearForm()" class="btn btn-back">{{cms.get('cancel')}}</button>
              <button type="submit" [disabled]="!passwordChangeForm.valid" class="btn btn-primary">{{cms.get('change')}}</button>
            </div>
            <div *ngIf="isFTUE || isOnboarding" [ngClass]="{'modal-footer': isFTUE && !isOnboarding, 'onboarding-footer': !isFTUE && isOnboarding }">
              <div>
                <button type="submit" [disabled]="!passwordChangeForm.valid" class="btn btn-next">{{cms.get('change')}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  