@import 'standards';

h2 {
    padding: 5px 0;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
}
h3 {
  @include themify($themes) {
    border-bottom: 1px solid themed('grey-4');
    padding: 5px 0;
    font-weight: 500;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
  }
}
