@import 'standards';

input {
  @extend %input-placeholder;
  @include themify($themes) {
      font-size: 18px;
      height: 55px;
      padding-left: 30px;
      padding-right: 30px;
      color: themed('grey-1');
      background-color: #fff;
      position: relative;
      outline: 0;
      box-shadow: none;
      border: 1px solid themed('grey-3');
      width: 557px;
  }
}

.alert.alert-danger {
  margin-top: 20px;
}
