
  @import 'images';
  @import 'variables';

  $vodafone: (
    grey-1: $grey-1,
  grey-2: $grey-2,
  grey-3: $grey-3,
  grey-4: $grey-4,
  grey-5: $grey-5,
  highlight-color: $highlight-color,
  link-color: $link-color,
  link-color-secondary: $link-color-secondary,
  link-color-tertiary: $link-color-tertiary,
  main-text-color: $main-text-color,
  header-font: $header-font,
  body-font: $body-font,
  header-font-weight: $header-font-weight,
  nav-bar-bg: $nav-bar-bg,
  nav-bar-link-color: $nav-bar-link-color,
  nav-bar-border-top: $nav-bar-border-top,
  nav-bar-border-bottom: $nav-bar-border-bottom,
  nav-bar-text-transform: $nav-bar-text-transform,
  icon-family: $icon-family,
  logo-height: $logo-height,
  logo-width: $logo-width,
  text-input-border-width: $text-input-border-width,
  text-input-border-radius: $text-input-border-radius,
  text-input-color: $text-input-color,
  text-input-padding: $text-input-padding,
  checkbox-border-radius: $checkbox-border-radius,
  select-border-radius: $select-border-radius,
  select-check-display: $select-check-display,
  button-border-radius: $button-border-radius,
  button-padding: $button-padding,
  button-height: $button-height,
  button-text-transform: $button-text-transform,
  button-background-image: $button-background-image,
  button-secondary-border: $button-secondary-border,
  button-secondary-background-image: $button-secondary-background-image,
  sign-up-nav-background-image: $sign-up-nav-background-image,
  modal-bg: $modal-bg,
  modal-text-align: $modal-text-align,
  modal-border-radius: $modal-border-radius,
  hi-modal-header-color: $hi-modal-header-color,
  hi-modal-header-background: $hi-modal-header-background,
  images-base-location: $images-base-location,
  logo: $logo,
  icon-add: $icon-add,
  icon-delete: $icon-delete,
  icon-building: $icon-building,
  icon-default-user: $icon-default-user,
  header-img-account: $header-img-account,
  header-img-phone: $header-img-phone,
  header-img-team: $header-img-team,
  header-img-checkout: $header-img-checkout,
  header-img-summary: $header-img-summary,
  header-img-devices: $header-img-devices,
  account-background: $account-background
);
