/* Based on https://github.com/endtwist/fontcustom/blob/master/lib/fontcustom/templates/fontcustom.css */

@font-face {
	font-family:"vodafone";
	src:url("../fonts/vodafone/Vodafone-Regular.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"vodafone";
src:url("../fonts/vodafone/Vodafone-Regular.ttf");
src:
	url("../fonts/vodafone/Vodafone-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/vodafone/Vodafone-Regular.woff") format("woff"),
	url("../fonts/vodafone/Vodafone-Regular.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}

@font-face {
	font-family:"vodafone-lite";
	src:url("../fonts/vodafone/Vodafone-Lite.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"vodafone-lite";
src:url("../fonts/vodafone/Vodafone-Lite.ttf");
src:
	url("../fonts/vodafone/Vodafone-Lite.eot?#iefix") format("embedded-opentype"),
	url("../fonts/vodafone/Vodafone-Lite.woff") format("woff"),
	url("../fonts/vodafone/Vodafone-Lite.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}

@font-face {
	font-family:"vodafone-regular";
	src:url("../fonts/vodafone/Vodafone-Regular.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"vodafone-regular";
src:url("../fonts/vodafone/Vodafone-Regular.ttf");
src:
	url("../fonts/vodafone/Vodafone-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/vodafone/Vodafone-Regular.woff") format("woff"),
	url("../fonts/vodafone/Vodafone-Regular.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}

@font-face {
	font-family:"vodafone-bold";
	src:url("../fonts/vodafone/Vodafone-Bold.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"vodafone-bold";
src:url("../fonts/vodafone/Vodafone-Bold.ttf");
src:
	url("../fonts/vodafone/Vodafone-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/vodafone/Vodafone-Bold.woff") format("woff"),
	url("../fonts/vodafone/Vodafone-Bold.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}