/* Based on https://github.com/endtwist/fontcustom/blob/master/lib/fontcustom/templates/fontcustom.css */

@font-face {
	font-family:"Omnes_ATTW02";
	src:url("../fonts/att/Omnes_ATTW02.ttf");
	font-weight:400;
	font-style:normal;
}
@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02.ttf");
  src:
    url("../fonts/att/Omnes_ATTW02.eot?#iefix") format("embedded-opentype"),
    url("../fonts/att/Omnes_ATTW02.woff") format("woff"),
    url("../fonts/att/Omnes_ATTW02.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
}

@font-face {
	font-family:"Omnes_ATTW02";
	src:url("../fonts/att/Omnes_ATTW02Bold.ttf");
	font-weight:700;
	font-style:normal;
}
@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02Bold.ttf");
  src:
    url("../fonts/att/Omnes_ATTW02Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/att/Omnes_ATTW02Bold.woff") format("woff"),
    url("../fonts/att/Omnes_ATTW02Bold.ttf") format("truetype");
  font-weight:700;
  font-style:normal;
}

@font-face {
	font-family:"Omnes_ATTW02";
	src:url("../fonts/att/Omnes_ATTW02Medium.ttf");
	font-weight:500;
	font-style:normal;
}
@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02Medium.ttf");
  src:
    url("../fonts/att/Omnes_ATTW02Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/att/Omnes_ATTW02Medium.woff") format("woff"),
    url("../fonts/att/Omnes_ATTW02Medium.ttf") format("truetype");
  font-weight:500;
  font-style:normal;
}

@font-face {
	font-family:"Omnes_ATTW02";
	src:url("../fonts/att/Omnes_ATTW02Light.ttf");
	font-weight:300;
	font-style:normal;
}
@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02Light.ttf");
  src:
    url("../fonts/att/Omnes_ATTW02Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/att/Omnes_ATTW02Light.woff") format("woff"),
    url("../fonts/att/Omnes_ATTW02Light.ttf") format("truetype");
  font-weight:300;
  font-style:normal;
}

@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02Italic.ttf");
  font-weight:400;
  font-style:italic;
}
@font-face {
  font-family:"Omnes_ATTW02Italic";
  src:url("../fonts/att/Omnes_ATTW02Italic.ttf");
  src:
    url("../fonts/att/Omnes_ATTW02Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/att/Omnes_ATTW02Italic.woff") format("woff"),
    url("../fonts/att/Omnes_ATTW02Italic.ttf") format("truetype");
  font-weight:400;
  font-style:italic;
}

@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02Italic.ttf");
  font-weight:300;
  font-style:italic;
}
@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02LightItalic.ttf");
  src:
    url("../fonts/att/Omnes_ATTW02LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/att/Omnes_ATTW02LightItalic.woff") format("woff"),
    url("../fonts/att/Omnes_ATTW02LightItalic.ttf") format("truetype");
  font-weight:300;
  font-style:italic;
}

@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02MediumItalic.ttf");
  font-weight:500;
  font-style:italic;
}
@font-face {
  font-family:"Omnes_ATTW02";
  src:url("../fonts/att/Omnes_ATTW02MediumItalic.ttf");
  src:
    url("../fonts/att/Omnes_ATTW02MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/att/Omnes_ATTW02MediumItalic.woff") format("woff"),
    url("../fonts/att/Omnes_ATTW02MediumItalic.ttf") format("truetype");
  font-weight:500;
  font-style:italic;
}
