$images-base-location: '/assets/images/';

$logo: $images-base-location + 'optus-logo-desktop.png';
$icon-add: $images-base-location + '';
$icon-delete: $images-base-location + '';
$icon-building: $images-base-location + 'building.svg';
$icon-default-user: $images-base-location + 'user-icon.svg';

$header-img-account: $images-base-location + 'account.svg';
$header-img-phone: $images-base-location + 'building.svg';
$header-img-team: $images-base-location + 'team.svg';
$header-img-checkout: $images-base-location + 'cart.svg';
$header-img-summary: $images-base-location + 'check-complete.svg';
$header-img-devices: $images-base-location + '';

$account-background: $images-base-location + 'account-background-bb.png';
