/* Based on https://github.com/endtwist/fontcustom/blob/master/lib/fontcustom/templates/fontcustom.css */

@font-face {
	font-family:"markpro";
	src:url("../fonts/optus/markpro.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"markpro";
src:url("../fonts/optus/markpro.ttf");
src:
	url("../fonts/optus/markpro.eot?#iefix") format("embedded-opentype"),
	url("../fonts/optus/markpro.woff") format("woff"),
	url("../fonts/optus/markpro.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}

@font-face {
	font-family:"markpro-bold";
	src:url("../fonts/optus/markpro-bold.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"markpro-bold";
src:url("../fonts/optus/markpro-bold.ttf");
src:
	url("../fonts/optus/markpro-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/optus/markpro-bold.woff") format("woff"),
	url("../fonts/optus/markpro-bold.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}

@font-face {
	font-family:"markpro-medium";
	src:url("../fonts/optus/markpro-medium.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"markpro-medium";
src:url("../fonts/optus/markpro-medium.ttf");
src:
	url("../fonts/optus/markpro-medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/optus/markpro-medium.woff") format("woff"),
	url("../fonts/optus/markpro-medium.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}

@font-face {
	font-family:"markpro-heavy";
	src:url("../fonts/optus/markpro-heavy.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face {
font-family:"markpro-heavy";
src:url("../fonts/optus/markpro-heavy.ttf");
src:
	url("../fonts/optus/markpro-heavy.eot?#iefix") format("embedded-opentype"),
	url("../fonts/optus/markpro-heavy.woff") format("woff"),
	url("../fonts/optus/markpro-heavy.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}