@import 'standards';

label {
  font-weight: 300;
  width: 100%;
  margin-bottom: 0;
}

select.form-control {
  width: 185px;
}

.bigger {
  font-size: 16px;
}

.underline {
  text-decoration: underline;
}

.btn {
  @include themify($themes) {
    background: transparent;
    color: themed('link-color');

    .icon-add {
      margin-right: 5px;
    }
  }
}

.footer-btn {
  padding: 15px 12px 15px 0;
}
