<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MBE Easy UI</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-scope" content="profile">
  <meta name="google-signin-client_id" content="1028466314261-iprj06i8oro1n2ekrqv6kcdimelapu28.apps.googleusercontent.com">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
  <script src="https://use.typekit.net/rkg2grl.js"></script>
  <script src="https://www.uc-one.net/iframe/parent.min.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  <app-root></app-root>
</body>
<% if (htmlWebpackPlugin.options.comment) { %>
  <!-- <%= htmlWebpackPlugin.options.comment %> -->
<% } %>
</html>
