@import 'standards';

.controls-right {
  float: right;
}

.flex-right {
  justify-content: flex-end;
  float: right;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline;
  cursor: pointer;
}

.audio-progress-bar {
  @include themify($themes) {
    text-align: left;
    position: relative;
    width: 100%;
    background: themed('grey-3');
    margin: 10px auto 20px auto;
    height: 3px;
    border-radius: 0;

    .progress-bar-played {
      position: absolute;
      background: themed('link-color-tertiary');
      left: 0;
      height: 3px;
      border-radius: 0;
    }

    .knob-container {
      position: relative;
      margin-left: -8px;

      .knob {
        position: absolute;
        cursor: pointer;
        left: 0;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        background: themed('link-color');
        top: -9px;
      }
    }
  }
}

.error {
  @extend %error-message;
}

.control-button {
  @include themify($themes) {
    @extend %button-secondary;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 3px 15px;
    text-transform: none;
    text-decoration: none;
    height: auto;
    margin: 10px 0;

    i {
      font-size: 14px;
      line-height: 1;
    }

    .button-label {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}

.timer {
  @include themify($themes) {
    font-size: 14px;
    color: themed('main-text-color');

    &.zero {
      color: themed('main-text-color');
    }
  }
}

.statusMessage{
  height: 20px;
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline;
 }

 label {
   margin-bottom: 0;
 }