<div [ngClass]="cms.getFromProvider('defaultTheme')">
  <app-header-bar></app-header-bar>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <app-pt-progress-bar></app-pt-progress-bar>
      <p class="subtitle">{{cms.get('loaComponentSubTitle')}}</p>
      <h3>{{cms.get('loaComponentLOALabel')}}</h3>
      <div class="termsBox" [innerHTML]="getLOAText()"></div>
      <div class="row">
        <div class="col-sm-6">
          <form [formGroup]="confirmForm">
            <div class="form-group">
              <input type="checkbox" class="form-control" id="checkTerms" (change)="onChange($event)" [checked]="checkModel">
              <label for="checkTerms">{{cms.get('loaComponentTermsAndConditionsCheckboxLabel')}}</label>
            </div>
            <div class="form-group">
              <label for="name" [attr.aria-label]="cms.get('fullNameLabel')"> 
                <input type="text" class="form-control" id="name" formControlName="name" [placeholder]="cms.get('loaComponentNameFormPlaceHolderText')" formControlName="name">
              </label>
              <app-control-messages [control]="confirmForm.controls.name"></app-control-messages>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="text-right">
          <a target="_blank" [href]="getLOALink()">{{cms.get('loaComponentDownloadLinkText')}}</a>
        </p>
      </div>

      <app-action-bar [disabled]="!confirmForm.valid || !checkModel"></app-action-bar>
    </div>
  </div>
</div>
