@import 'standards';

$transition-time: 250ms;

.voicemail {
    @extend %admin-child-page;
}

i.icon-chevron{
  @include themify($themes) {
    float: right;
    margin-right: 10px;
    color: themed('link-color');
    -webkit-transition: -webkit-transform $transition-time;
    transition: transform $transition-time;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;

    &.open {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.voicemail-wrapper {
    @include themify($themes) {
        max-height: 0;
        padding-top: 10px;
        transition: max-height $transition-time;
        -webkit-transition: max-height $transition-time;
        overflow-y: hidden;

        &.open {
            max-height: 200px;
            transition: max-height $transition-time;
            -webkit-transition: max-height $transition-time;
            overflow-y: visible;
        }
    }
}

