<div [ngClass]="useModals ? cms.getFromProvider('defaultTheme') + ' modal-container ': cms.getFromProvider('defaultTheme') + ' onboarding-container '">
  <div [ngClass]="useModals ? 'modal-dialog': 'onboarding-dialog'">
    <div [ngClass]="useModals ? 'modal-content': 'onboarding-content'">
      <div>
        <div [ngClass]="useModals ? 'modal-header': 'onboarding-header'">
          <i class="icon-building"></i>
          <span class="header-text" [innerHTML]="cms.get('company-setup')"></span>
          <span class="breadcrumb-text" [innerHTML]="cms.get('behavior-header')"></span>
        </div>
        <div [ngClass]="useModals ? 'modal-body': 'onboarding-body'">
          <p class="inline-header" [innerHTML]="cms.get('main-setup', companyName)"></p>
          <form [formGroup]="setup">
            <div class="form-group">
              <input class="form-control radio" id="direct-call" type="radio" name="behavior" formControlName="behavior" [(ngModel)]="behavior" value="receptionist">
              <label for="direct-call">
                <i class="icon icon-front-desk"></i>
                {{cms.get('direct-call')}}
                <i class="icon icon-check2"></i>
              </label>
              <input class="form-control radio" id="voicemail" type="radio" name="behavior" formControlName="behavior" [(ngModel)]="behavior" value="voicemail">
              <label for="voicemail">
                <i class="icon icon-voicemail"></i>
                {{cms.get('voicemail-label')}}
                <i class="icon icon-check2"></i>
              </label>
              <input class="form-control radio" id="phone-menu" type="radio" name="behavior" formControlName="behavior" [(ngModel)]="behavior" value="autoAttendant">
              <label for="phone-menu">
                <i class="icon icon-phone-menu"></i>
                {{cms.get('phone-menu')}}
                <i class="icon icon-check2"></i>
              </label>
            </div>
          </form>
        </div>
      </div>
      <div [ngClass]="useModals ? 'modal-footer': 'onboarding-footer'">
        <div>
          <button class="btn btn-back" (click)="back()" [innerHTML]="cms.get('back')"></button>
          <button (click)="finish()" class="btn btn-next" [disabled]="setup.controls['behavior'].invalid">{{cms.get('next')}}</button>
        </div>
        <div>
          <button class="btn btn-default" (click)="skip()">{{cms.get('skip')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
